@use '../../variables';
@use '../../mixins';

.container-depositions,
.container-cards,
.container-experience {
  max-width: 1024px;
  margin: 1rem auto;
}

.container-inovation {
  background-color: variables.$pink-bg-color;
  padding: 2rem 0;
  div {
    max-width: 1024px;
    margin: 0 auto;
  }
  .inovation {
    display: flex;
    color: variables.$gradient-red-color;
    margin-top: 2rem;
    width: 100% !important;
  }
  h1 {
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
  }
  .container-benefit {
    width: 100%;
    display: flex;
    margin-bottom: 1.4rem;
    flex-wrap: wrap;
    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 22%;
      background-color: variables.$white-text-color;
      padding: 1rem;
      border-radius: 5px;
      margin: 0.7rem 0.7rem;
      a {
        display: flex;
        font-weight: bold;
        margin-top: 0.5rem;
        color: variables.$gradient-red-color;
      }
    }
    div:nth-child(4),
    div:nth-child(5) {
      visibility: hidden;
    }
  }
  @include mixins.mobile {
    padding: 1rem 0.5rem;
    h1 {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
    .container-benefit {
      .box {
        width: auto !important;
      }
      div:nth-child(4),
      div:nth-child(5) {
        display: none;
      }
    }
  }
}
.container-depositions {
  span {
    display: flex;
    color: variables.$gradient-red-color;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  .text {
    font-size: 2.5rem;
  }
  .depositions {
    display: flex;
    gap: 2rem;
    .box {
      max-width: 33%;
      width: 100%;
      h4 {
        margin: 3rem 0;
        border-left: 2px solid red;
        padding-left: 1rem;
      }
    }
  }
  @include mixins.mobile {
    padding: 0 1rem;
    h2 {
      font-family: 1.5rem;
    }
    .text {
      font-size: 1.7rem;
    }

    .depositions {
      gap: initial;
      padding: 0 1rem;
      flex-direction: column;
      .box {
        max-width: initial;
      }
    }
  }
}
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  span {
    color: variables.$gradient-red-color;
    font-weight: bold;
    margin: 3rem 0;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  img {
    max-width: 50%;
    margin: 2rem 0;
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;
    border: 1px solid variables.$information-color;
    border-radius: 5px;
  }
  .register {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    color: variables.$information-color;
    background-color: variables.$gradient-red-color;
    margin-right: 1rem;
    border: none;
    &:hover {
      opacity: 0.7;
    }
  }
  @include mixins.mobile {
    max-width: initial;
    padding: 0 1rem;
    h2 {
      font-size: 1.5rem;
    }
  }
}
.container-experience {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  .experience {
    max-width: 60%;
    width: 100%;
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      span {
        color: variables.$gradient-red-color;
      }
    }
    .box img:first-child {
      margin-right: 0.5rem;
    }
    p,
    .box img {
      max-width: 400px;
      margin-bottom: 2rem;
    }

    .box img {
      width: 25%;
    }
  }
  .logo-union {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    background-color: variables.$gradient-red-color;
  }
  @include mixins.mobile {
    margin-top: 1.5rem;
    padding: 0 1rem;
    .experience {
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      max-width: initial;
    }
    .logo-union {
      display: none;
    }
    .box {
      display: flex;
      justify-content: center;
    }
  }
}
