@use '../../variables';
@use '../../mixins';

.loginForm {
  max-width: 448px;
  margin: 0 auto;
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 6rem 0;
  }
  form label {
    display: flex;
  }
  input,
  .submit {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    border: none;
    border: 1px solid variables.$information-color;
  }

  .submit {
    color: variables.$white-text-color;
    background-color: variables.$gradient-red-color;
    opacity: 1;
    cursor: pointer;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: variables.$dark-color;
    font-weight: bold;
    &:hover {
      color: variables.$dark2-color;
    }
  }
  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    h1 {
      font-size: 1.5rem;
      margin: 1rem 0 2rem 0;
    }
    form {
      padding: 2rem;
    }
  }
}
