$gradient-red-color: #eb3850;
$gradient-yellow-color: #e3c79e;
$gradient-black-color: #485563;

$dark-color: #1a191e;
$dark2-color: #47464a;

$message-color: #2962ff;
$success-color: #0bb07b;
$warning-color: #ffce52;
$error-color: #f03d3d;
$information-color: #e0e0e0;
$white-text-color: #fff;
